---
title: Latest Posts - Trust 3.0
layout: default
---

<picture>
    <source type="image/webp" srcset="/static/img/webp/header.webp">
    <source type="image/png" srcset="/static/img/header.png">
    <img src="static/img/header.png" alt="header" class="blog-header">
</picture>
<div class="container-fluid mt-3">
    <div class="page-content blog">
        <div class="title mb-4">
            <h2>{{title}}</h2>
        </div>

        {{ content | safe }}
    </div>
</div>
<div class="text-center">
    <picture>
        <source type="image/webp" srcset="/static/img/webp/trust3.webp">
        <source type="image/png" srcset="/static/img/trust3.png">
        <img src="static/img/trust3.png" alt="Trust3.0 Logo" class="footer-logo">
    </picture>
</div>
<div class="row footer-menu text-center">
    <div class="col-lg-4">
        <a href="/">Home</a>
    </div>
    <div class="col-lg-4">
        <a href="/events">Events</a>
    </div>
    <div class="col-lg-4">
        <a href="/blog" class="active">Blog</a>
    </div>
</div>