<div class="nav-wrapper" id="top">
    <nav class="navbar navbar-expand-sm page-content" id="banner">
        <a href="/">
            <picture>
                <source type="image/webp" srcset="/static/img/webp/trust3-flat.webp">
                <source type="image/png" srcset="/static/img/trust3-flat.png">
                <img src="static/img/trust3-flat.png" alt="Trust3.0 Logo" class="logo"></img>
            </picture>
        </a>

        <div class=menu-toggle>
            <label for="check" onclick="checkCheck()">
                <input type="checkbox" id="check" data-toggle="collapse" data-target="#collapseNav">
                <div class="hamburger"></div>
            </label>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="collapseNav">
            <ul class="navbar-nav" id="compnav">
                <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/faqs">FAQs</a></li>
                <li class="nav-item"><a class="nav-link btn btn-contact" href="mailto:hello@blksq-labs.com">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>